<div id="create_order_div">
    <%= form_for :order, url: create_order_path, html: {id: "create_order_form"} do |f| %>
        <table id="create_order_table">
            <% i = -1 %>
            <% session[:pizza_ids].each do |pizza_id| %>
            <% i+=1 %>
            <%= f.hidden_field "pizza_id[#{i}]", value: pizza_id, id: "order_pizza_id_#{i}" %>
            <% end %>
            <tr>
                <td><div><%= f.label :name, "Your name" %></div></td>
                <td><div><%= f.text_field :name %></div></td>
                <td><div></div></td>
            </tr>
            <tr>
                <td><div><%= f.label :phone %></div></td>
                <td><div><%= f.text_field :phone %></div></td>
                <td><div></div></td>
            </tr>
            <tr>
                <td><div><%= f.label :address %></div></td>
                <td><div><%= f.text_area :address %></div></td>
                <td><div></div></td>
            </tr>
            <tr>
                <td><div><%= f.label :city %></div></td>
                <td><div><%= f.text_field :city %></div></td>
                <td><div></div></td>
            </tr>
            <% i = -1 %>
            <% session[:pizza_ids].each do |pizza_id| %>
            <% pizza = Pizza.find pizza_id %>
            <% i+=1 %>
            <tr class="pizza_size" data-num="<%= i %>">
                <td><div><%= pizza.name %><br /><%= f.label :pizza_size %></div></td>
                <td><div><%= f.select "pizza_size[#{i}]", [["small - Rs#{pizza.get_price[:small]}", 's'], ["medium - Rs#{pizza.get_price[:medium]}", 'm'], ["large - Rs#{pizza.get_price[:large]}", 'l']], {}, {id: "order_pizza_size_#{i}"} %></div></td>
                <td><div></div></td>
            </tr>
            <% end %>
            <tr>
                <td><div></div></td>
                <td><div><a href="<%= place_order_path %>">Add more pizza to this order</a></div></td>
                <td><div></div></td>
            </tr>
            <tr>
                <td><div></div></td>
                <td><div><%= f.submit %><button id="cancel_button">Cancel</button></div></td>
                <td><div></div></td>
            </tr>
        </table>
    <% end %>
</div>