<div id="menu_container">
    <div class="heading" id="title"><!-- Optional --></div>
    <div id="menu_div">
        <% unless @pizzas.nil? %>
        <% @pizzas.each do |pizza| %>
        <div class="menu" data-href="<%=  %>">
            <div class="menu_image" style="background: url(<%= image_path "items/1.jpg" %>)"></div>
            <div class="menu_details">
                <div class="item_name green"><%= pizza.name %></div>
                <div class="item_description"><strong>Main ingredients: </strong><%= pizza.ingredients.join(", ") %></div>
                <div class="item_tags"><span class="<%= pizza.veg ? "veg" : "non_veg" %>"><%= pizza.veg ? "veg" : "non veg" %></span></div>
            </div>
        </div>
        <% end %>
        <% end %>
    </div>
</div>