<!DOCTYPE html>
<html>
	<head>
		<title><%= !@layout_details[:title].nil? ? @layout_details[:title] : "Le Chat Bleu" %></title>
		<%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<link rel="icon" type="image/ico" href="<%= asset_path "favicon.ico" %>"/>
		<%= stylesheet_link_tag 'lechatblue' %>
		<%= @layout_details.nil? ? '' : stylesheet_link_tag("#{@layout_details[:controller]}") %>
        <% if !@layout_details.nil? %>
            <% @layout_details[:styles].each do |style| %>
                <%= stylesheet_link_tag "#{@layout_details[:controller]}/#{style}" %>
            <% end %>
            <% @layout_details[:other_styles].each do |style| %>
                <%= stylesheet_link_tag "#{style}" %>
            <% end %>
        <% end %>
		<%= javascript_include_tag "jquery-1.9.0.min" %>
		<%= javascript_include_tag "apprise-v2" %>
		<%= stylesheet_link_tag "apprise-v2" %>
		<%= javascript_include_tag "lechatblue" %>
		<%= @layout_details.nil? ? '' : javascript_include_tag("#{@layout_details[:controller]}") %>
        <% if !@layout_details.nil? %>
            <% @layout_details[:scripts].each do |script| %>
                <%= javascript_include_tag "#{@layout_details[:controller]}/#{script}" %>
            <% end %>
            <% @layout_details[:other_scripts].each do |script| %>
                <%= javascript_include_tag "#{script}" %>
            <% end %>
        <% end %>
		<%= javascript_tag do %>
            <% if !flash[:error].nil? %>
                window._errorAny_ = true
                window._errorDetails_ = "<span>"+"<%= j flash[:error] %>".replace(/&lt;/g, "<").replace(/&gt;/g, ">")+"</span>"
            <% else %>
                window._errorAny_ = false
            <% end %>
            <% if !flash[:alert].nil? %>
                window._alertAny_ = true
                window._alertDetails_ = "<span>"+"<%= j flash[:alert] %>".replace(/&lt;/g, "<").replace(/&gt;/g, ">")+"</span>"
            <% else %>
                window._alertAny_ = false
            <% end %>
		<% end %>
		<%= csrf_meta_tags %>
	</head>
	<body>
        <div id="overlay">
            <div id="overlay_close" data-href="#">X</div>
            <div id="overlay_content">

            </div>
        </div>
		<div id="wrapper">
			<aside id="left_section">
				<div id="logo">
					<div id="logo_image">
						&nbsp;
					</div>
				</div>
                <div class="italy-sep"></div>
				<div id="sidebar">
					<div class="<%= @layout_details[:action] == "index" ? "selected" : "" %>" data-href="<%= root_path %>">
						Welcome page
					</div>
					<div class="<%= @layout_details[:action] == "menu_book" ? "selected" : "" %>" data-href="<%= menu_book_path %>">
						Menu book
					</div>
					<div class="<%= @layout_details[:action] == "place_order" ? "selected" : "" %>" data-href="<%= place_order_path %>">
						Order pizza now
					</div>
					<div class="<%= @layout_details[:action] == "about_us" ? "selected" : "" %>" data-href="<%= about_us_path %>">
						About us/Map
					</div>
				</div>
			</aside>
			<div id="right_section">
                <div id="cover">
                    &nbsp;
                </div>
                <div class="italy-sep"></div>
                <div id="content">
				    <%= yield %>
                </div>
            </div>
		</div>
	</body>
</html>
